*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
  background: #f5e0c8;
}

body.dragging {
  cursor: grabbing;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  will-change: transform;
  contain: layout style paint;
}
